
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:nick22985/init.lua.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/entr"]
	path = .config/entr
	url = git@github.com:eradman/entr.git
[submodule ".config/treesitterCustom/tree-sitter-vue"]
	path = .config/treesitterCustom/tree-sitter-vue
	url = https://github.com/nick22985/tree-sitter-vue
	branch = main
[submodule ".config/.nickInstall/install/configs/private"]
	path = .config/.nickInstall/install/configs/private
	url = git@github.com:nick22985/private-dotfiles.git
[submodule ".config/docker-compose"]
	path = .config/docker-compose
	url = git@github.com:nick22985/docker-compose.git
