
[submodule "env/.config/nvim"]
	path = env/.config/nvim
	url = git@github.com:nick22985/init.lua.git
[submodule "env/.config/tmux/plugins/tpm"]
	path = env/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "env/.config/entr"]
	path = env/.config/entr
	url = https://github.com/eradman/entr.git
[submodule "env/.config/treesitterCustom/tree-sitter-vue"]
	path = env/.config/treesitterCustom/tree-sitter-vue
	url = https://github.com/nick22985/tree-sitter-vue
	branch = main

[submodule "env/.config/docker-compose"]
	path = env/.config/docker-compose
	url = git@github.com:nick22985/docker-compose.git
[submodule "env/.config/.nickInstall/install/configs/private"]
	path = env/.config/.nickInstall/install/configs/private
	url = git@github.com:nick22985/private-dotfiles.git
[submodule "env/.config/tmux/plugins/tmux-battery"]
	path = env/.config/tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery.git
[submodule "env/.config/tmux/plugins/tmux-nerd-font-window-name"]
	path = env/.config/tmux/plugins/tmux-nerd-font-window-name
	url = https://github.com/joshmedeski/tmux-nerd-font-window-name.git
[submodule "env/.config/tmux/plugins/tmux-autoreload"]
	path = env/.config/tmux/plugins/tmux-autoreload
	url = https://github.com/b0o/tmux-autoreload.git
[submodule "env/.config/tmux/plugins/catppuccin"]
	path = env/.config/tmux/plugins/catppuccin
	url = https://github.com/catppuccin/tmux.git
