;; Template for center modules widget
(defwidget center_modules_{{MONITOR_ID}} []
  (box :class "modules-center"
       :space-evenly false
       :spacing 10
    (workspaces :workspace_info workspaces_info_{{MONITOR_ID}})
    (mpd_widget)))